[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.9.150"
mysql-connector-python = "*"
dnspython = "*"
setuptools = "==41.0.1"
easysnmp = "*"
pytest = "*"
urllib3 = "==1.25.2"
botocore = "*"
paramiko = "*"

[dev-packages]

[requires]
python_version = "3.7"
