[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.13.23"
mysql-connector-python = "*"
dnspython = "*"
setuptools = "==47.1.1"
easysnmp = "*"
pytest = "*"
urllib3 = "==1.25.9"
botocore = "*"
paramiko = "*"
pyparsing = "==3.0.0a1"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
