[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.9.150"
mysql-connector-python = "==8.0.19"
dnspython = "*"
setuptools = "==41.0.1"
easysnmp = "*"
pytest = "*"
urllib3 = "==1.25.2"
botocore = "*"
paramiko = "*"
protobuf = "==3.6.1"
asn1crypto = "==1.3.0"

[dev-packages]

[requires]
python_version = "3.8"
